body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background: #f2f2f2;
}

.register_page_form_unique {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 20px 20px 20px;
  gap: 20px;
}

.form_analytics_wrapper_form_unique {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 100%;
}

.form_wrapper_form_unique, .user_analytics_form_unique {
  background: #fff;
  width: 45%;
  box-sizing: border-box;
  padding: 25px;
  border-top: 5px solid #CCCCFF;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.user_table_container_form_unique {
  width: 90%;
  max-width: 100%;
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-top: 5px solid #CCCCFF;
  margin-top: 20px;
}

.title_container_form_unique {
  text-align: center !important;
  padding-bottom: 15px;
}
.input_field_form_unique {
  position: relative;
  margin-bottom: 20px;
}

.input_field_form_unique svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="file"] {
  width: 100% !important;
  padding: 8px 10px 9px 40px !important; /* Add padding-left to make space for the icon */
  height: 35px !important;
  border: 1px solid #cccccc !important;
  box-sizing: border-box !important;
  outline: none !important;
  transition: all 0.30s ease-in-out !important;
}

.toggle_password_form_unique {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.toggle_password_form_unique:hover {
  color: #666;
}

.input_field_form_unique > span {
  position: absolute;
  left: 0;
  top: 0;
  color: #333;
  height: 100%;
  border-right: 1px solid #cccccc;
  text-align: center;
  width: 30px;
}

.input_field_form_unique > span > i {
  padding-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  width: 100%;
  padding: 8px 10px 9px 35px;
  height: 35px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  outline: none;
  transition: all 0.30s ease-in-out;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="date"]:hover {
  background: #fafafa;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
  box-shadow: 0 0 2px 1px rgba(237, 194, 244, 0.5);
  border: 1px solid #CCCCFF;
  background: #fafafa;
}

input[type="submit"], .button_form_unique {
  background: #a9a9fa;
  height: 35px;
  line-height: 35px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  margin-bottom: 10px;
  transition: all 0.30s ease-in-out;
}

input[type="submit"]:hover, .button_form_unique:hover {
  background: #CCCCFF;
}

input[type="submit"]:focus, .button_form_unique:focus {
  background: #CCCCFF;
}

@media (max-width: 768px) {
  .register_page_form_unique {
    flex-direction: column;
    align-items: center;
  }

  .form_analytics_wrapper_form_unique {
    flex-direction: column;
    width: 100%;
  }

  .form_wrapper_form_unique, .user_analytics_form_unique {
    width: 100%;
    margin-bottom: 20px;
  }

  .user_table_container_form_unique {
    width: 100%;
  }
}

.user_analytics_container_custom {
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pie_chart_container_form_unique{
  box-sizing: border-box;
  display: block; 
  height: 245px;
  width: 245px;
}
.pie_chart_wrapper_custom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.pie_chart_wrapper_custom .pie_chart_custom {
  flex: 1;
}

.pie_chart_wrapper_custom ul {
  flex: 0 0 30%;
  list-style: none;
  padding: 0;
  margin-left: 20px;
  text-align: left;
}

.pie_chart_wrapper_custom ul li {
  font-size: 16px;
  margin-bottom: 10px;
}

.pie_chart_container_custom {
  width: 50%;
}

.bar_chart_wrapper_custom {
  margin-top: 20px;
  position: relative;
}

.bar_chart_wrapper_custom p {
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .user_analytics_container_custom {
    width: 100%;
  }

  .pie_chart_wrapper_custom {
    flex-direction: column;
  }

  .pie_chart_wrapper_custom ul {
    margin-left: 0;
    margin-top: 20px;
  }
}

/* src/styles/UserTable.css */

.user_table {
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

.user_table_search {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user_table_search input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  white-space: nowrap;
}

th {
  background-color: #ddd;
  color: black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user_table button {
  background-color: #fe5879;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.user_table button:hover {
  background-color: #fb95a8;
}

.user_table input[type="text"],
.user_table input[type="email"],
.user_table input[type="password"],
.user_table input[type="date"],
.user_table input[type="file"] {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.profile_pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
  }

  th, td {
    padding: 5px;
    font-size: 12px;
  }

  .user_table button {
    padding: 3px 7px;
    font-size: 12px;
  }
}


